/* Move It App Custom CSS File
 * @Author: Himanshu
 */
body {
	overflow: hidden !important;
}

.appHeader {
	background: #1976D2 !important;
	height: 55px !important;
	padding-top: 2px !important;
}

.appFooter {
	bottom: 0 !important;
	left: 7%;
	position: absolute;
	padding: 0;
}

.appLogo {
	width: 36%;
	left: 90%;
	top: 16%;
	position: absolute;
}

.appBrand {
	transition: all .2s ease-in-out;
}

.appBrand:hover {
	transform: scale(1.1);
}

.appQuote {
	text-align: center !important;
	display: inline;
	border-left: none;
}

.appQuote .fa-quote-right {
	float: right;
}

.appQuote .fa-quote-left {
	float: left;
}

.appSidebar {
	z-index: 5;
	background: #fff;
	box-shadow: -10px 0px 20px 0px rgba(112, 112, 112, 0.6);
	top: 57px;
	padding: 15px;
	position: absolute;
	right: 0px;
	display: none;
}

.appSidebar ul {
	list-style: none;
	text-align: justify;
}

.appSidebar ul li {
	margin-top: 20px;
	cursor: pointer;
}

.appSidebar ul li:hover {
	font-weight: 500;
	color: #1976d2;
}

.appBackdrop {
	position: absolute;
	z-index: 4;
	top: 57px;
	width: 100%;
	background: rgba(96, 96, 96, 0.65);
	display: none;
}

.sidebarToggleBtn {
	position: absolute;
	right: 15px;
	top: 7px;
	background: transparent;
	border: none;
	font-size: 20px;
	height: 40px;
	padding: 8px;
	width: 40px;
	border-radius: 50% !important;
	will-change: box-shadow, transform;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color
		0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.welcomeContainer {
	top: 100px !important;
}

.welcomeContainer>.section {
	padding-bottom: 20px;
	padding-top: 20px;
}

.welcomeContainer h1 {
	color: rgba(96, 96, 96, 0.90);
}

.welcomeContainer h1>strong {
	color: #606060 !important;
}

a:hover, a:focus {
	color: #1976d2;
}

.btnAppTheme {
	background-color: #F9A825;
	color: #FFFFFF;
}

.btnAppTheme:hover {
	background-color: #F9A825;
	color: #FFFFFF;
}

.btnAppTheme:focus {
	background-color: #F9A825 !important;
	color: #FFFFFF;
}

.btnAppTheme:active {
	background-color: #F9A825 !important;
	color: #FFFFFF;
}

.ui-mprogress .peg {
	box-shadow: 0 0 10px #f9a825, 0 0 5px #f9a825 !important;
}

.ui-mprogress .deter-bar {
	background: #f9a825 !important;
}

.basicInfoContainer {
	top: 100px !important;
	height: 450px;
}

.basicInfoContainer>.section {
	padding-bottom: 20px;
	padding-top: 20px;
}

.basicInfoContainer h1 {
	color: rgba(96, 96, 96, 0.90);
}

.basicInfoContainer h1>strong {
	color: #606060 !important;
}

.basicInfoContainer .header {
	margin-top: -25px;
	color: rgba(96, 96, 96, 0.90);
}

.basicInfoContainer .header h2 {
	font-weight: 400;
}

.basicInfoContainer .footer {
	text-align: center;
	bottom: 0;
	position: absolute;
}

.basicInfoContainer .body .section {
	padding: 0px !important;
}

.basicInfoRadio label {
	font-size: 16px !important;
	line-height: 1.42857;
	color: #AAAAAA;
	font-weight: 400;
}

.basicInfoRadio input[type=radio]:checked ~ .circle {
	border-color: #1976d2 !important;
}

.basicInfoRadio input[type=radio]:checked ~ .check {
	background-color: #1976d2 !important;
}

.basicInfoRadio label .circle {
	border: 1px solid rgba(0, 0, 0, .54);
	height: 16px !important;
	width: 16px !important;
	border-radius: 100%;
}

.basicInfoRadio label .check {
	height: 16px !important;
	width: 16px !important;
	border-radius: 100%;
	background-color: #1976d2;
	-webkit-transform: scale3d(0, 0, 0);
	-moz-transform: scale3d(0, 0, 0);
	-o-transform: scale3d(0, 0, 0);
	-ms-transform: scale3d(0, 0, 0);
	transform: scale3d(0, 0, 0);
}

.form-group.is-focused label, .form-group.is-focused label.control-label
	{
	color: #1976d2 !important;
}

.form-group.is-focused .form-control {
	outline: none;
	background-image: linear-gradient(#1976d2, #1976d2),
		linear-gradient(#D2D2D2, #D2D2D2) !important;
	background-size: 100% 2px, 100% 1px;
	box-shadow: none;
	transition-duration: 0.3s;
}

.md-datepicker-input-container.md-datepicker-focused {
	border-bottom-color: rgb(25, 118, 210) !important;
}


.md-button.md-icon-button {
	line-height: 40px !important;
	margin-left: -12px !important;
}

.md-datepicker-input-container {
	width: 85% !important;
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
	.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator
	{
	background: rgb(25, 118, 210) !important;
}
.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator{
	border: 1px solid rgb(25, 118, 210) !important;
}
.md-datepicker-open .md-datepicker-calendar-icon {
    color: rgb(25, 118, 210) !important;
}
.md-datepicker-input{
	width: 100% !important;
}
.md-datepicker-input-container{
	border-bottom-color: rgb(210, 210, 210) !important;
}
.md-default-theme .md-datepicker-input::-webkit-input-placeholder, .md-datepicker-input::-webkit-input-placeholder {
    color: #AAAAAA !important;
    font-weight: 400 !important;
}
.md-calendar-day-header {
    background: #1976d2 !important;
    color: #fff !important;
}
.datePickerDiv{
	margin-top: 15px;
}