<!DOCTYPE html>


<!-- App Header starts here -->
<header class="appHeader" data-ng-cloak>
	<div class="appBackdrop"></div>
	<nav class="navbar navbar-default appHeader" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand appBrand" href="#"><img class="appLogo"
					src="assets/img/logo.png">MOVE IT</a>
				<button class="sidebarToggleBtn waves-effect waves-light">
					<i class="material-icons">menu</i>
				</button>
			</div>
		</div>
	</nav>
</header>
<!-- App Header ends here -->

<!-- Container to dynamically render app page content starts here -->
<data-ui-view> </data-ui-view>
<!-- Container to dynamically render app page content ends here -->

<!-- App Sidebar starts here -->
<aside class="appSidebar col-lg-2 col-md-2 col-sm-4 col-xs-4">
	<ul>

		<li data-ng-click = "gotoAboutUs()">About Us</li>
		<li data-ng-click = "gotoContact()">Contact</li>
		<li data-ng-click = "gotoBasicInfo()">Book Now</li>
	</ul>
</aside>
<!-- App Sidebar ends here -->

<!-- App Footer starts here -->
<footer class="footer footer-transparent appFooter">
	<div class="container">
		<nav class="pull-left">
			<ul>
				<li><a data-ui-sref = "home.welcome"> Move It </a></li>
				<li><a data-ui-sref = "home.about"> About Us </a></li>
				<li><a data-ui-sref = "home.contact"> Contact </a></li>
				<li><a href=""> Licenses </a></li>
			</ul>
		</nav>
		<div class="social-area pull-right">
			<a class="btn btn-social btn-twitter btn-just-icon"
				href="https://twitter.com/"> <i class="fa fa-twitter"></i>
			</a> <a class="btn btn-social btn-facebook btn-just-icon"
				href="https://www.facebook.com/"> <i
				class="fa fa-facebook-square"></i>
			</a> <a class="btn btn-social btn-google btn-just-icon"
				href="https://plus.google.com/"> <i class="fa fa-google-plus"></i>
			</a>
		</div>
		<div class="copyright">&copy; 2016 MOVE IT, made with love to
			help you move !</div>
	</div>
</footer>
<!-- App Footer ends here -->


