<!DOCTYPE html>


<!-- App Header starts here -->
<header class="appHeader" data-ng-cloak>
	<div class="appBackdrop"></div>
	<nav class="navbar navbar-default appHeader" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button> -->

				<a class="navbar-brand appBrand" href="#"><img class="appLogo"
					src="assets/img/truck1.png">MOVE IT</a>
				<button class="sidebarToggleBtn waves-effect waves-light">
					<i class="fa fa-bars"></i>
				</button>
			</div>
		</div>
	</nav>
</header>
<!-- App Header ends here -->

<!-- Container to dynamically render app page content starts here -->
<data-ui-view> </data-ui-view>
<!-- Container to dynamically render app page content ends here -->

<!-- App Sidebar starts here -->
<aside class="appSidebar col-lg-2 col-md-2 col-sm-4 col-xs-4">
	<ul>

		<li>About Us</li>
		<li>Contact</li>
		<li>Book Now</li>
	</ul>
</aside>
<!-- App Sidebar ends here -->

<!-- App Footer starts here -->
<footer class="footer footer-transparent appFooter">
	<div class="container">
		<nav class="pull-left">
			<ul>
				<li><a href="#"> Move It </a></li>
				<li><a href="#"> About Us </a></li>
				<li><a href="#"> Contact </a></li>
				<li><a href="#"> Licenses </a></li>
			</ul>
		</nav>
		<div class="social-area pull-right">
			<a class="btn btn-social btn-twitter btn-just-icon"
				href="https://twitter.com/"> <i class="fa fa-twitter"></i>
			</a> <a class="btn btn-social btn-facebook btn-just-icon"
				href="https://www.facebook.com/"> <i
				class="fa fa-facebook-square"></i>
			</a> <a class="btn btn-social btn-google btn-just-icon"
				href="https://plus.google.com/"> <i class="fa fa-google-plus"></i>
			</a>
		</div>
		<div class="copyright">&copy; 2016 MOVE IT, made with love to
			help you move !</div>
	</div>
</footer>
<!-- App Footer ends here -->


