<div class="section">
	<div
		class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-push-1 col-sm-push-1 col-md-push-1 col-lg-push-1">
		<div class="row">
			<div
				class="col-xs-6 col-sm-6 col-md-6 col-lg-6 contactInfoLeftSection">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Name</label> <input type="text"
								class="form-control"> <span class="material-input"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Mobile No</label> <input type="text"
								class="form-control"> <span class="material-input"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Email Address</label> <input
								type="text" class="form-control"> <span
								class="material-input"></span>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<button class="btn btnAppTheme waves-effect waves-light"
							name="Register" data-toggle="modal" data-target="#verifyOTPModal" data-backdrop="static" data-keyboard="false">Okay,
							I'm In !</button>
					</div>
				</div>
			</div>
			<div
				class="col-xs-6 col-sm-6 col-md-6 col-lg-6 contactInfoRightSection text-center">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">I don't
						want to share my details...</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<button class="btn btn-default waves-effect waves-light"
							data-ng-init="callUsFlag = false"
							data-ng-click="callUsFlag = ! callUsFlag" name="CallUs">
							<i class="material-icons">phone</i> I will call you
						</button>
					</div>
				</div>
				<div class="row" data-ng-show="callUsFlag">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>
							Call us at: <br> <span>8826738938</span>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Verify OTP Modal Starts Here -->
<div class="modal fade" id="verifyOTPModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Thanks for sharing
					your details...</h4>
			</div>
			<div class="modal-body">
				<div class="row text-center">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						We have sent you a verification code on your mobile device. <br>
						Please enter it to verify and proceed.
					</div>
				</div>

				<div class="row">
					<div
						class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-push-4 col-lg-push-4">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Enter OTP</label> <input type="text"
								class="form-control"> <span class="material-input"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-simple waves-effect waves-light">Resend OTP</button>
				<button type="button" class="btn btn-primary btn-simple waves-effect waves-light">Verify</button>
			</div>
		</div>
	</div>
</div>
<!-- Verify OTP Modal Ends Here -->