<!DOCTYPE html>

<div class="main main-raised basicInfoContainer">
	<div class="section">
		<div class="container">
			<div class="row tim-row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
					<!-- <button data-ng-click="changeStepBackwards()"
						data-ng-show="currentStep > 0">BACK</button> -->

					<button
						class="btn btn-fab btn-fab-mini btn-round waves-effect waves-light"
						data-ng-click="changeStepBackwards()" data-ng-show="currentStep > 0">
						<i class="fa fa-arrow-left"> </i>
					</button>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 body">
					<div data-ng-include="basicInfoTemplates[currentStep].url"></div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">


					<button class="btn btnAppTheme waves-effect waves-light"
						data-ng-click="changeStepForward()" data-ng-show="currentStep < 5">
						NEXT
						<!-- <i class="material-icons right">send</i> -->
					</button>
				</div>
			</div>

		</div>
	</div>
</div>



