<div class="section" data-ng-cloak>
	<div
		class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-push-1 col-sm-push-1 col-md-push-1 col-lg-push-1">
		<div
			class="col-lg-5 col-md-5 col-sm-12 col-xs-12 moveIt-tab-container">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 moveIt-tab-menu">
				<div class="list-group">
					<a href=""
						class="list-group-item text-center waves-effect waves-light"
						data-ng-repeat="tabs in moveItTabsCategory"
						data-ng-class="{'active': currentTab == $index}"
						data-ng-click="showActiveTab($index)"> {{tabs.name}} </a>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 moveIt-tab">
				<div class="moveIt-tab-content"
					data-ng-repeat="itemCategory in moveItHomeItemCategory"
					data-ng-class="{'active': currentTab == $index}">
					<div data-ng-repeat="type in itemCategory">
						<div
							class="col-xs-4 col-sm-4 col-md-4 col-lg-4 moveItItems waves-effect waves-light"
							data-ng-repeat="item in type track by $index"
							data-ng-click="selectedItem(item , $index)"
							data-ng-class="{'active' : item.selected}">{{item.name}}</div>
					</div>

				</div>
			</div>
		</div>

		<div
			class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-lg-push-1 col-md-push-1 moveItTableContainer">
			<p data-ng-show="selectedItemsList.length == 0">
				You have not selected any item to move ! <br> Why not add few
				to proceed ?
			</p>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 moveItTableRow"
				data-ng-repeat="selectedItems in selectedItemsList ">

				<span class="badge">1</span> <span class= "col-xs-6 col-sm-6 col-md-6 col-lg-6 item">{{selectedItems.name}}</span> <span
					class="plus-minus-controll col-xs-push-3 col-sm-push-3 col-md-push-3 col-lg-push-3">
					<button class="btn btn-default btn-fab btn-fab-mini btn-round waves-effect waves-light">
						<i class="material-icons">remove</i>
					</button>
					<button class="btn btn-default btn-fab btn-fab-mini btn-round waves-effect waves-light">
						<i class="material-icons">add</i>
					</button>
				</span> <span class="deleteMoveItTableRow"><button class="btn btn-default btn-fab btn-fab-mini btn-round waves-effect waves-light">
						<i class="material-icons">clear</i>
					</button></span>
			</div>
		</div>

	</div>
</div>