<!DOCTYPE html>
<!-- Custom CSS Include -->
<link rel="stylesheet" href="assets/css/moveIT-app.css">

<header class="appHeader" data-ng-cloak>
<div class="appBackdrop">

</div>
	<nav class="navbar navbar-default appHeader" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button> -->

				<a class="navbar-brand appBrand" href="#"><img class="appLogo"
					src="assets/img/truck1.png">MOVE IT</a>
				<button
					class="sidebarToggleBtn waves-effect waves-light">
					<i class="fa fa-bars"></i>
				</button>
			</div>


		</div>
	</nav>
</header>

<div class="main main-raised welcomeContainer">
	<div class="section">
		<div class="container">
			<div class="row tim-row">
				<h1 class="text-center">
					Welcome to <strong> MOVE IT !</strong>
				</h1>
				<legend></legend>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<img src="assets/img/truck5.png"
						class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<blockquote class="appQuote">
						<i class="fa fa-quote-left"></i>
						<p>A single destination to get Movers and Packers service to
							get your Home, Shop, Vehicle or anything move easily and safely.
						</p>
						<i class="fa fa-quote-right"></i>
					</blockquote>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<img src="assets/img/truck5.png"
						class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				</div>
			</div>

			<div class="row tim-row">
				<div
					class="col-lg-3 col-lg-offset-5 col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-5 col-xs-3 col-xs-offset-4">
					<button class="btn btnAppTheme waves-effect waves-light"
						name="action" data-ng-click="performAction()">
						I want to move
						<!-- <i class="material-icons right">send</i> -->
					</button>
				</div>


			</div>


		</div>
	</div>
</div>

<aside class="appSidebar col-lg-2 col-md-2 col-sm-4 col-xs-4">
<ul>
				
				<li> About Us </li>
				<li> Contact </li>
				<li> Book Now </li>
			</ul>
</aside>

<footer class="footer footer-transparent appFooter">
	<div class="container">
		<nav class="pull-left">
			<ul>
				<li><a href="#"> Move It </a></li>
				<li><a href="#"> About Us </a></li>
				<li><a href="#"> Contact </a></li>
				<li><a href="#"> Licenses </a></li>
			</ul>
		</nav>
		<div class="social-area pull-right">
			<a class="btn btn-social btn-twitter btn-just-icon"
				href="https://twitter.com/"> <i class="fa fa-twitter"></i>
			</a> <a class="btn btn-social btn-facebook btn-just-icon"
				href="https://www.facebook.com/"> <i
				class="fa fa-facebook-square"></i>
			</a> <a class="btn btn-social btn-google btn-just-icon"
				href="https://plus.google.com/"> <i class="fa fa-google-plus"></i>
			</a>
		</div>
		<div class="copyright">&copy; 2016 MOVE IT, made with love to
			help you move !</div>
	</div>
</footer>
<!-- <div class="container">
	<div class="col-sm-4">
		<div class="form-group label-floating is-empty">
			<label class="control-label">With Floating Label</label> <input
				type="text" class="form-control"> <span
				class="material-input"></span>
		</div>
	</div>
	<div class="checkbox">
		<label> <input type="checkbox" name="optionsCheckboxes"><span
			class="checkbox-material"><span class="check"></span></span>
			Unchecked
		</label>
	</div>
	<button class="btn waves-effect waves-light" name="action"
		data-ng-click="performAction()">
		Check App Status <i class="material-icons right">send</i>
	</button>
	<div class="col-md-3 dropdown">
		<a href="#" class="btn btn-simple dropdown-toggle"
			data-toggle="dropdown"> Regular <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li><a href="#">Separated link</a></li>
			<li class="divider"></li>
			<li><a href="#">One more separated link</a></li>
		</ul>
	</div>
</div> -->

<!-- ___________jQuery Custom JS Includes___________ -->
<script type="text/javascript " src="assets/js/moveIT-app.js"></script>